node_modules/
/playwright-report/
/playwright/.cache/
/test-results/
/tests-examples/
.DS_Store
*.png
/tests/MoreValidations.spec.js-snapshots
/playwright-default-config.js
/playwright.config1.js
/allure-results
/README.md
/acceptance